#side-bar-container {
    margin-top: 100px;
    background-color:#efefef;
    height: 1000px;
    overflow:auto;

}

#user-form {
    margin-bottom: 10px;
    margin-left:10px;
    margin-top:20px;
}

#main-container {
    margin-top: 100px;
    margin-left:20px

}

.sub-title {
    color:#0059b3;
}

.sub-section {
    margin-bottom:40px;
}