{% extends "ueb_app/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}

{% block app_content_override %}

<!--side bar section-->
<div id='side-bar-container' class='col-md-2'style="margin-bottom:30px">
</div>


<!--main section -->
<div id='main-container' class="col-md-8">
    <!-- help intro-->
    <div id='title' style="margin-top:40px;margin-bottom:50px">
        <h3 style="color:#0073e6">Help</h3>
        <p class="sub-description">
            This page will provide materials to help you learn about the Utah Energy Balance snow-melt model as well as how to use this web app to easily conduct a modeling research.
        </p>

    </div>

    <!-- materials list -->
    <div class='sub-section'>
        <a><h5 class="sub-title">Quick Start Tutorial</h5></a>
        <p class="sub-description">This shows you how to use this web app to prepare the UEB model input package and execute the UEB model to estimate the snow water equivalent in an example watershed.</p>
    </div>

    <div class='sub-section'>
        <a><h5 class="sub-title">Model Basic Theory</h5></a>
        <p class="sub-description">This will introduce the basic physical concept of the UEB model and will also describe the input and output files.</p>
    </div>

    <div class='sub-section'>
        <a><h5 class="sub-title">Frequently Asked Questions</h5></a>
        <p class="sub-description">This will introduce the basic physical concept of the UEB model and will also describe the input and output files.</p>
    </div>


</div>


{%endblock%}


{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'ueb_app/css/help.css' %}" rel="stylesheet"/>
{% endblock %}