{% extends "ueb_app/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}


{% block app_content_override %}

<div id='form-container' class='col-md-3'style="margin-bottom:30px">

    <h5> Model inputs settings </h5>




    <form id='user-form' method="post" action='model_input_submit/'>
        {% csrf_token %}

        <div id="model domain">

            <p id='name_title' class="form-subtitle"> Research Domain Watershed Name</p>
            {% gizmo text_input watershed_name %}

            <p id='box_title' class="form-subtitle">Watershed Bounding Box (US continent only)</p>
            <table>
                <tr>
                    <td>{% gizmo text_input north_lat %}</td>
                    <td width="10px"/>
                    <td>{% gizmo text_input south_lat %}</td>
                </tr>
                <tr>
                    <td>{% gizmo text_input west_lon %}</td>
                    <td width="10px"/>
                    <td>{% gizmo text_input east_lon %}</td>
                </tr>
            </table>

            <p id='point_title' class="form-subtitle">Watershed Outlet Point (US continent only)</p>
            <table>
                <tr>
                    <td>{% gizmo text_input outlet_x %}</td>
                    <td width="10px"/>
                    <td>{% gizmo text_input outlet_y %}</td>
                </tr>
            </table>

            <p id='threshold_title' class="form-subtitle"> Watershed Delineation Stream Threshold</p>
            {% gizmo text_input stream_threshold %}

            <p id='epsg_title' class="form-subtitle">EPSG Code</p>
            <div width="30%">{% gizmo select_input epsg_code %}</div>

            <p id='time_title' class="form-subtitle">Model Simulation Time Period</p>
            <table>
                <tr>
                    <td>{% gizmo date_picker start_time %}</td>
                    <td width="10px"/>
                    <td>{% gizmo date_picker end_time %}</td>
                </tr>
            </table>

            <p id='proj_cell_title' class="form-subtitle">Cell size for reprojection </p>
            <table>
                <tr>
                    <td>{% gizmo text_input x_size %}</td>
                    <td width="10px"/>
                    <td>{% gizmo text_input y_size %}</td>
                </tr>
            </table>

            <p id='model_cell_title' class="form-subtitle">Cell size for model simulation (optional)</p>
            <table>
                <tr>
                    <td>{% gizmo text_input dx_size %}</td>
                    <td width="10px"/>
                    <td>{% gizmo text_input dy_size %}</td>
                </tr>
            </table>

            <p class="form-subtitle"> HydroShare resource for model inputs </p>
            {% gizmo text_input res_title %}
            {% gizmo text_input res_keywords %}

        </div>

        <div id="submit-response" >
            <p id="response-status">asdf</p>
            <p id="response-result"></p>
        </div>

        <input id='submit-model-input-btn' type="submit" value="Run Service" name='run-service' class="btn btn-success btn-lg pull-right">
    </form>

</div>

<div id='map-container' class="col-md-7">
    <div id='title' style="margin-bottom:10px">
    <h3 style="color:#0073e6">UEB Model Inputs Preperation</h3>
    <p style="margin-bottom:20px">This service will help to retrieve data from different data sources and preprocess them as UEB model input files. <br>
        These files will be shared as a new model instance resource in HydroShare.
    </p>
</div>

    <h5>Draw watershed boundary and outlet point in map (US continent only)</h5>
    <div id="map" style="width:900px; height:600px"></div>


</div>

{%endblock%}

{% block app_actions_override %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHOUQD9R_tLb6NKA22cuTTvF0j6X8wkgI&callback=initMap&libraries=drawing">
    </script>
    <script src="{% static 'ueb_app/js/model_input.js' %} " type="text/javascript"></script>
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'ueb_app/css/model_input.css' %}" rel="stylesheet"/>
{% endblock %}