{% extends "ueb_app/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}


{% block app_content_override %}

<!--Model simulation user form-->
<div id='form-container' class='col-md-3'style="margin-bottom:30px">

    <form id='user-form' method="post" >
        {% csrf_token %}
        <!-- res list selection field-->
        <p id='model-input-list' class="form-subtitle">Select a model instance resource from HydroShare</p>
        <div width="30%">{% gizmo select_input resource_list %}</div>

        <!--load metadata info-->
        <input id='load-metadata-btn' type="submit" value="Load Resource Metadata" name='load-metadata' class="btn btn-primary btn-lg pull-left" > <br><br>

        <div id="load-metadata-response" style="margin-top:50px; margin-bottom:50px; display:none">

            <p class="metadata-title"> Resource ID</p>
            <p id='res-id' class='metadata-result'></p>

            <p class="metadata-title">Bounding Box</p>
            <table id="bounding-box-table">
                <tr>
                    <td width="150px"></td>
                    <td width='150px'>
                        <label>North Latitude</label>
                        <p id="north-lat"></p>
                    </td>
                    <td width="150px"></td>
                </tr>
                <tr>
                    <td>
                        <label>West Longitude</label>
                        <p id="west-lon"></p>
                    </td>
                    <td ></td>
                    <td>
                        <label>East Longitude</label>
                        <p id="east-lon"></p>
                    </td>
                </tr>
                <tr>
                    <td ></td>
                    <td>
                        <label>South Latitude</label>
                        <p id="south-lat"></p>
                    </td>
                    <td ></td>
                </tr>
            </table>

            <p class="metadata-title">Outlet Point</p>
            <table id="outlet-point-table">
                <tr>
                    <td width="200px"><label>Outlet Longitude </label></td>
                    <td width="200px" id="outlet-x"></td>
                    <td width="200px"><label>Outlet Latitude</label></td>
                    <td width="200px" id="outlet-y"></td>
                </tr>
            </table>

            <p class="metadata-title">Time Period</p>
            <table id="time-period-table">
                <tr>
                    <td width="100px"><label>Start Time </label></td>
                    <td width="200px" id="start-time" style="text-align:center;"></td>
                    <td width="100px"><label>End Time</label></td>
                    <td width="200px" id="end-time" style="text-align:center;"></td>
                </tr>
            </table>

            <p class="metadata-title">Spatial Coordinate System</p>
            <p id="epsg-code"></p>

            <p class="metadata-title">Model Simulation Cell Size</p>
            <table id="model-cell-size-table">
                <tr>
                    <td width="100px"><label>Cell X Size </label></td>
                    <td width="200px" id="cell-x-size" style="text-align:left;"></td>
                    <td width="100px"><label>Cell Y Size</label></td>
                    <td width="200px" id="cell-y-size" style="text-align:left;"></td>
                </tr>
            </table>

        </div>

        <div id="load-metadata-fail" style="margin-top:50px; margin-bottom:50px; display:none">
            <p id="load-metadata-error"></p>
        </div>

        <!--show model simulation submit info-->
        <div id="submit-response" >
            <p id="response-status">s</p>
            <p id="response-result">s</p>
        </div>

        <input id='submit-model-run-btn' type="button" value="Submit Model Execution" name='run-service' class="btn btn-success btn-lg pull-right" style="display:none">
    </form>

    <div id="wait" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Please wait for processing..</h4>
                </div>
                <div class="modal-body">
                    <img align="middle" src="{% static 'ueb_app/images/waiting.gif' %}" width="550px" height="20px"/>
                </div>
            </div>
            <!--End modal content-->
        </div>
    </div>

</div>



<!--Google map-->
<div id='map-container' class="col-md-8">
    <!-- app intro-->
    <div id='title' style="margin-bottom:20px">
        <h3 style="color:#0073e6">UEB Model Submit for Execution</h3>

        <p style="font-size:120%">
            The application provides service to submit a UEB model package for execution on a server or
            high performance computing center installation.
        </p>

    </div>

    <!-- map -->
    <h5>Research domain of model input data</h5>
    <div id="map" style="width:1000px; height:800px"></div>

</div>


{%endblock%}

{% block app_actions_override %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHOUQD9R_tLb6NKA22cuTTvF0j6X8wkgI&callback=initMap&libraries=drawing">
    </script>
    <script src="{% static 'ueb_app/js/model_run.js' %} " type="text/javascript"></script>
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'ueb_app/css/model_run.css' %}" rel="stylesheet"/>
{% endblock %}